[submodule "/home/muni/.config/nvim"]
	path = /home/muni/.config/nvim
	url = https://github.com/muni-corn/nvim-config
[submodule "/home/muni/.config/awesome"]
	path = /home/muni/.config/awesome
	url = https://github.com/muni-corn/awesomewm-config
