[user]
	email = municorn@musicaloft.com
	name = municorn
	signingkey = 4B21310A52B15162
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
[url "git@codeberg.org:"]
	insteadOf = https://codeberg.org/
[diff]
	tool = vimdiff2
    colorMoved = zebra
[fetch]
    prune = true
[pull]
	rebase = true
[gpg]
	program = gpg2
[commit]
	gpgsign = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[color]
	ui = auto
[init]
	defaultBranch = main
[merge]
	renamelimit = 2016
[color "diff"]
	old = 196
	new = 48
	oldMoved = 201
	newMoved = 226
