Authenticator/
Slack/
3T/
BraveSoftware/
Cadence/
Code - OSS/
configstore/
dconf/
desmume/
drumstick.sourceforge.net
filezilla/
fontconfig/
gconf/
menus/
rncbc.org/
termite/
Unknown Organization/
vmpk.sourceforge.net/
zoomus.conf
QtProject.conf
composer/
discord/
mopidy/
qalculate/
qt5ct/
pulse/
remmina/
syncthing/
falkTX/
Code/
node_modules/
kak/autoload/
GIMP/
coc/extensions/
kak/plugins/
libreoffice/
spotify/
