.*/
3T/
Authenticator/
Brackets/
BraveSoftware/
Cadence/
Code - OSS/
Code/
DesktopPonies/
GIMP/
GREYC/
Google/AndroidStudio*
Insomnia/
JetBrains/
Kitware/
Ledger Live/
Microsoft/
Postman/
QtProject.conf
Qtwebflix/
RawTherapee/batch/
RawTherapee/options
Signal/
Slack/
TUG/
Thunar/
Unknown Organization/
akregatorrc
autostart/
awesome/.rc.lua
baloofilerc
blender/2.83/config/bookmarks.txt
blender/2.83/config/recent-files.txt
calibre/
cef_user_data/
chromium/
cmus/
coc/
composer/
configstore/
cordless/
dconf/
desmume/
discord/
drumstick.sourceforge.net
enchant/
evolution/
falkTX/
filezilla/
fish/fish_variables
fontconfig/
fontforge/
gashell/
gconf/
gedit/
gnome-games/
gnome-initial-setup-done
gtk-2.0/gtkfilechooser.ini
hydroxide/
i3/config
i3blocks/
i3blocks/arch-update/arch-update.py
i3blocks/monitor_manager/monitor_manager.py
ibus/
icedtea-web/
inkscape/
kactivitymanagerd-statsrc
kactivitymanagerdrc
kak/autoload/
kak/plugins/
kateschemarc
kcminputrc
kconf_updaterc
kded5rc
kdeglobals
kdenlive-layoutsrc
kdenliverc
keepassxc/keepassxc.ini
kglobalshortcutsrc
khotkeysrc
komparerc
kritadisplayrc
kritarc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
libreoffice/
linuxsampler.org/
lxqt/
menus/
mopidy/
mpv/scripts/mpris.so
node_modules/
obs-studio/
pamac/
pavucontrol.ini
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmanotifyrc
plasmashellrc
powermanagementprofilesrc
protonmail/
pulse/
pulse/f36db527770ef8117c1de0505f221f7c-runtime
qalculate/
qt5ct/
remmina/
rncbc.org/
session/
spotify-tui/
spotify/
spotifyd/
syncthing/
systemsettingsrc
teams/
termite/
torbrowser/
transmission/
vmpk.sourceforge.net/
wasm-pack-nodejs/
whoozle.github.io/
wpg/.current
wpg/wallpapers/*
xfce4/
zoomus.conf

wpg/templates/*
!wpg/templates/*.base

alacritty/alacritty.yml
awesome/colors.lua
bspwm/bspwmrc
bspwm/panel.sh
cava/config
dunst/dunstrc
i3/lock.sh
mako/config
rofi/muse.rasi
sway/config
sway/lock.sh
wpg/.current
wpg/sequences
wpg/wp_init.sh
