.*/
3T/
Authenticator/
Brackets/
BraveSoftware/
Cadence/
Code - OSS/
Code/
GIMP/
GREYC/
Insomnia/
Microsoft/
Postman/
QtProject.conf
Qtwebflix/
RawTherapee/options
Signal/
Slack/
Thunar/
Unknown Organization/
autostart/
calibre/
cef_user_data/
chromium/
cmus/
coc/extensions/
composer/
configstore/
dconf/
desmume/
discord/
drumstick.sourceforge.net
enchant/
evolution/
falkTX/
filezilla/
fish/fish_variables
fontconfig/
fontforge/
gashell/
gconf/
gedit/
gnome-games/
hydroxide/
i3blocks/
icedtea-web/
kak/autoload/
kak/plugins/
kdenliverc
kwalletrc
libreoffice/
linuxsampler.org/
lxqt/
menus/
mopidy/
node_modules/
obs-studio/
pamac/
pulse/
qalculate/
qt5ct/
remmina/
rncbc.org/
spotify/
syncthing/
teams/
termite/
torbrowser/
transmission/
vmpk.sourceforge.net/
xfce4/
zoomus.conf
