configuration {
    theme: "muse";
	columns: 10;
    rows: 1;
	show-icons: true;
    location: 6;
}

window {
    width: 100%;
    height: 232px;
}

element {
    orientation: vertical;
    padding: 32px;
}

element-icon {
    size: 48px;
    horizontal-align: 0.5;
}

element-text {
    horizontal-align: 0.5;
}

/* vim: ft=css
 */
