configuration {
    theme: "muse";
	columns: 3;
	show-icons: true;
}

element {
    orientation: vertical;
    padding: 32px;
}

element-icon {
    size: 48px;
    horizontal-align: 0.5;
}

element-text {
    horizontal-align: 0.5;
}

/* vim: ft=css
 */
