configuration {
    theme: "muse";
	columns: 5;
	show-icons: true;
    location: 0;
    fullscreen: true;
}

mainbox {
    padding: 10% 20%;
}

window {
    width: 50%;
    height: 70%;
}

element {
    orientation: vertical;
    margin: 16px 0px 0px 0px;
    padding: 32px;
}

element-icon {
    size: 48px;
    horizontal-align: 0.5;
}

element-text {
    horizontal-align: 0.5;
}

/* vim: ft=css
 */
