window {
    margin: 5px;
    background-color: #00000000;
}


#input {
    margin: 5px;
    background-color: #000000e5;
    border: 0px 0px 4px 0px blue;
}

#inner-box {
    background-color: #00000000;
    margin: 4px;
    width: 256px;
}

#outer-box {
    background-color: #00000000;
    margin: 64px;
}

#scroll {
    margin: 8px;
    width: 512px;
}

#text {
    margin: 16px;
}

#entry:selected {
}

#text:selected {
}
#entry {
    width: 512px;
}
.entry {
    width: 512px;
}
